.quizContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;

  .actions {
    display: flex;
    gap: 1rem;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.75rem;

    button {
      width: 125px;
      padding: 17px 30px;
      border-radius: 0.5rem;
      font-weight: bold;
      font-size: 18px;
      line-height: 1.75rem;
      display: flex;
      justify-content: center;
    }
    .previous {
      background-color: rgba(107, 114, 128, 1);
      color: white;
      &:hover {
        background-color: rgba(209, 213, 219, 1);
      }
    }
    .next {
      background-color: rgba(110, 231, 183, 1);

      &:hover {
        background-color: rgba(16, 185, 129, 1);
        color: white;
      }
    }
    .submit {
      background-color: rgba(245, 158, 11, 1);
      &:hover {
        background-color: rgba(245, 158, 11, 0.8);
      }
    }
  }

  .timer {
    width: 82px;
    margin-bottom: 20px;
    position: absolute;
    top: 16%;
    z-index: 1;
    font-weight: bold;
  }

  .question {
    position: relative;
    margin-top: 70px;
    width: 70rem;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    margin-bottom: 20px;
    background-color: white;
    padding: 85px;
    border-radius: 5px;

    h2 {
      font-size: 17px;
      font-weight: bold;
      color: rgba(59, 130, 246, 0.5);
      padding-bottom: 30px;
    }
    p {
      font-size: 20px;
      font-weight: bold;
    }
  }

  .answer {
    width: 65rem;
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    font-weight: 600;
    font-size: 18px;
    text-align: left;
    cursor: pointer;
  }

  .answer:hover,
  .answer.selected {
    background-color: #312e81;
    color: white;
    border-color: #fff; /* only change border color on hover */
  }
}
